<div class="main">
    <div class="main-body">
        <div class="main-body-left border-style">
            <side-bar my-default-width="270">
                <wi-tree-view tree-root="treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
                    get-children="self.getChildren" run-match="self.runMatch" click-fn='self.clickFunction'>
                    <div class="label-list-view">
                        <span>WELL LIST</span>
                        <span class="label-button ti-close" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.deleteImageSet()"></span>
                        <span class="label-button ti-plus" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.createImageSet()"></span>
                        <span class="label-button ti-export" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.exportImageSet()"></span>
                        <span class="label-button ti-import" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.importImages()"></span>
                        <span class="label-button ti-reload" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.refresh()"></span>
                    </div>
                </wi-tree-view>
            </side-bar>

        </div>
        <!-- <wi-droppable on-drop="self.dropFn" style="flex: 1; display: flex;" container-style="{flex: 1}"> -->
        <div class="main-body-center border-style">
            <div class="label-list-view">
                <span>IMAGE LIST</span>
                <select class="image-selection" title="Select title">
                    <option>Select title</option>
                    <option>Mây và tóc em bay</option>
                    <option>trong chiều gió lộng</option>
                    <option>Trời làm cơn mưa xanh</option>
                    <option>dưới những hàng me</option>
                </select>
                <span class="label-button ti-close" ng-class="{'active-button':true}" aria-hidden="true"
                    ng-click="self.deleteImageSet()"></span>
                <span class="label-button ti-plus" ng-class="{'active-button':true}" aria-hidden="true"
                    ng-click="self.createImageSet()"></span>
                <span class="label-button ti-export" ng-class="{'active-button':true}" aria-hidden="true"
                    ng-click="self.exportImageSet()"></span>
                <span class="label-button ti-reload" ng-class="{'active-button':true}" aria-hidden="true"
                    ng-click="self.refresh()"></span>
            </div>
            <div>
                <table id="table-view">
                    <tr>
                        <th style="width: 42px;"><span class="image-status fa fa-check"></span></th>
                        <th>Image name</th>
                        <th>Link</th>
                        <th>Pattern</th>
                        <th>Active</th>
                        <th>Export value</th>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Mây và tóc em bay</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Trong chiều gió lộng</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Trời làm cơn mưa xanh</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active-disable">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Dưới những hàng me</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>

                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Em cùng lá tung tăng</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Như loài chim đến</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Và đã hót giữa phố nhà</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active-disable">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status-disable fa fa-check"></span></td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active-disable">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>
                    <tr>
                        <td><span class="image-status fa fa-check"></span></td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td><span class="image-active">Active</span></td>
                        <td><span>Value</span></td>
                    </tr>

                </table>
            </div>
        </div>
        <!-- </wi-droppable> -->
    </div>
</div>