<div class="main slim-scroller">
    <div class="main-body">
        <div class="main-body-left border-style">
            <side-bar my-default-width="270" >
                <div style="height: 100%; overflow: hidden;display: flex;flex-direction: column;">
                    <div class="label-list-view" style="border-bottom: 1px solid #f0f0f0;">
                        <span>WELL LIST</span>
                        <span class="label-button ti-close" ng-class="{'active-button':self.selectedNode.idImageSet}"
                            aria-hidden="true" ng-click="self.deleteImageSet()"></span>
                        <span class="label-button ti-plus" ng-class="{'active-button':self.selectedNode.idWell}"
                            aria-hidden="true" ng-click="self.createImageSet()"></span>
                        <span class="label-button ti-export" ng-class="{'active-button':self.selectedNode.idImageSet}"
                            aria-hidden="true" ng-click="self.renameImageSet()"></span>
                        <span class="label-button ti-import" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.importImages()"></span>
                        <span class="label-button ti-reload" ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.refresh()"></span>
                    </div>
                    <div style="flex: 1; overflow: hidden;">
                        <wi-tree-view-virtual tree-root="self.treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
                            get-children="self.getChildren" run-match="self.runMatch" click-fn='self.clickFunction'>
                        </wi-tree-view-virtual>
                    </div>
                </div>
            </side-bar>
        </div>
        <div class="main-body-center border-style">
            <div class="label-list-view" style="padding: 11px 15px;">
                <div style="display: flex;">
                    <div class="label-info-image">
                        <span>Unit</span>
                        <select class="image-selection" title="Select unit" ng-model="self.unit"
                            ng-options="option.name for option in self.unitOptions track by option.id">
                        </select>
                    </div>
                    <div class="label-info-image">
                        <span style="display: flex; align-items: center"> Preview Images
                            <input style="margin: 0 0 0 10px;" type="checkbox" ng-model="self.hasPreview">
                        </span>
                    </div>
                    <div class="label-info-image">
                        <span>Top: &nbsp;{{self.getTopDepth();}}</span>
                    </div>
                    <div class="label-info-image">
                        <span>Bottom: &nbsp;{{self.getBottomDepth();}}</span>
                    </div>
                </div>

                <div>
                    <span class="label-button ti-trash" ng-class="{'active-button':true}" aria-hidden="true"
                        ng-click="self.deleteImage()"></span>
                    <span class="label-button ti-reload" ng-class="{'active-button':true}" aria-hidden="true"
                        ng-click="self.refreshImageSet()"></span>
                    <span class="label-button ti-plus" ng-class="{'active-button':self.selectedNode.idImageSet}"
                        aria-hidden="true" ng-click="self.addImage()"></span>
                    <span class="label-button ti-save" ng-class="{'active-button':true}" aria-hidden="true"
                        ng-click="self.applyImageActions()"></span>
                </div>

            </div>
            <!-- <div ng-if="self.selectedNode" style="text-align:right;padding:5px;">
                <span style="font-weight:bold;">Top:&nbsp;</span><span>{{self.getTopDepth();}}</span><span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                <span style="font-weight:bold;">Bottom:&nbsp;</span><span>{{self.getBottomDepth();}}</span>
            </div> -->

            <!--
            <div class="image-table-row" style="width: calc(100% - 9px)" ng-if="self.selectedNode.idImageSet">
                <span class="table-row-1"></span>
                <span class="table-row-2">Name</span>
                <span class="table-row-2">Top</span>
                <span class="table-row-2">Bottom</span>
                <span class="table-row-2">Image</span>
            </div>
            -->
            <div style="flex: 1; position: relative;" >
                <wi-table-resizeable
                    class="image-table-container"
                    headers="['', 'Name', 'Top', 'Bottom', 'Image']"
                    on-table-init="self.onTableInit"
                    on-header-width-changed="self.onHeaderWidthChanged"
                    default-widths="[42, 300, 250, 250]">
                    <!-- <div class="image-table-container"
                        style="flex:1; overflow:hidden;display:flex;position:relative; background-color: #fff;border-top:1px solid #eee;">
                    </div> -->
                </wi-table-resizeable>
                <div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: #f4f4f4;"
                    ng-show="self.getRenderingFlag()">
                    <span style="font-size: 3em; font-weight: 300; color: #333; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block;">
                        LOADING...
                    </span>
                </div>
            </div>
            <!--
            <div class="image-table-container"
                style="flex:1; overflow:hidden;display:flex;position:relative; background-color: #fff;border-top:1px solid #eee;">
                <table style="width: 100%;" class="image-table-container">
                    <tr ng-if="self.selectedNode.idImageSet">
                        <th style="width: 42px;"></th>
                        <th style="width: 40%;">Name</th>
                        <th style="width: 15%;">Top</th>
                        <th style="width: 15%;">Bottom</th>
                        <th style="width: 40%;">Image</th>
                    </tr>

                    <tr ng-repeat="image in self.getImages(self.selectedNode)"
                        ng-class="{'deleted': image._deleted, 'updated': image._updated, 'created': image._created}"
                        ng-click="self.rowClick($event, image);">
                        <td>
                            <span ng-class="{'disable': !image._selected}" class="image-status fa fa-check">
                            </span>
                        </td>
                        <td>
                            <editable params="image" item-value="image.name" set-value="self.updateImageName"
                                enabled="true"></editable>
                        </td>
                        <td>
                            <editable params="image" item-value="self.getImageTopDepth"
                                set-value="self.updateImageTopDepth" enabled="true"></editable>
                        </td>
                        <td>
                            <editable params="image" item-value="self.getImageBottomDepth"
                                set-value="self.updateImageBottomDepth" enabled="true"></editable>
                        </td>
                        <td>
                            <span ng-click="self.imageSetup(image)" class="button-td">Upload</span>
                            <span ng-click="self.preview(image)" class="button-td" ng-disabled="!image.imageUrl"
                                ng-class="{'disable': !image.imageUrl}" style="margin-left: 10px;">Preview</span>
                        </td>
                    </tr>
                </table>
            </div>
            -->
            <div ng-show="self.hasPreview && self.imgUrl" class="image-holder" ng-click="self.getFocus($event)"
                ng-keydown="self.keyDown($event);" tabindex="0" style="position:absolute;">
                <div style="position: relative; display: contents;">
                    <span style="
                            top: -15px;
                            right: -15px;
                            width: 30px;
                            height: 30px;
                            color: #fff;
                            justify-content: center;
                            display: flex;
                            align-items: center;
                            background: #f37272;
                            position: absolute;
                            padding: 5px;
                            border-radius: 50%;
                            cursor: pointer;
                            box-shadow: 0 3px 10px #00000026;
                    " ng-click="self.closePreview()"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <img style="max-height: 100%;" class="img-responsive"
                    ng-src="{{self.imgUrl?(self.baseUrl + self.imgUrl):undefined}}">
                </div>
            </div>
        </div>
    </div>
</div>
