<div class="main">
    <div class="main-body">
        <div class="main-body-left border-style">
            <side-bar my-default-width="270" style="border-right: 1px solid #dedede;">
                <wi-tree-view tree-root="self.treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
                    get-children="self.getChildren" run-match="self.runMatch" click-fn='self.clickFunction'>
                    <div class="label-list-view">
                        <span>WELL LIST</span>
                        <span class="label-button ti-close"
                            ng-class="{'active-button':self.selectedNode.idImageSet}" aria-hidden="true"
                            ng-click="self.deleteImageSet()"></span>
                        <span class="label-button ti-plus"
                            ng-class="{'active-button':self.selectedNode.idWell}" aria-hidden="true"
                            ng-click="self.createImageSet()"></span>
                        <span class="label-button ti-export"
                            ng-class="{'active-button':self.selectedNode.idImageSet}" aria-hidden="true"
                            ng-click="self.exportImageSet()"></span>
                        <span class="label-button ti-import"
                            ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.importImages()"></span>
                        <span class="label-button ti-reload" 
                            ng-class="{'active-button':true}" aria-hidden="true"
                            ng-click="self.refresh()"></span>
                    </div>
                </wi-tree-view>
            </side-bar>

        </div>
        <div class="main-body-center border-style">
            <div class="label-list-view">
                <span>Unit</span>
                <select class="image-selection" title="Select unit">
                    <option selected>m</option>
                    <option>ft</option>
                    <option>cm</option>
                </select>
                <span class="label-button ti-plus" 
                    ng-class="{'active-button':self.selectedNode.idImageSet}"
                    aria-hidden="true" ng-click="self.addImage()"></span>
                <span class="label-button fa fa-times-circle" 
                    aria-hidden="true" ng-click="self.deleteWell()"></span>
                <span class="label-button fa fa-times-circle-o" 
                    aria-hidden="true" ng-click="self.cleanMap()"></span>
                <span class="label-button fa fa-times-circle" 
                    aria-hidden="true" ng-click="self.deleteWell()"></span>
            </div>
            <div style="flex:1; overflow:auto;display:flex;position:relative;">
                <table>
                    <tr ng-if="self.selectedNode.idImageSet">
                        <th style="width: 42px;"></th>
                        <th>Name</th>
                        <th>Top</th>
                        <th>Bottom</th>
                        <th>Image</th>
                    </tr>
                    <tr ng-repeat="image in self.getImages(self.selectedNode)" ng-click="self.rowClick(image);">
                        <td><span class="image-status fa fa-check"></span></td>
                        <td><editable item-value="image.name" enabled="true"></editable></td>
                        <td><editable item-value="image.topDepth" enabled="true"></editable></td>
                        <td><editable item-value="image.bottomDepth" enabled="true"></editable></td>
                        <td>
                            <span class="image-active" ng-click="self.imageSetup(image)">
                                <i class="ti-settings"></i>
                            </span>
                            <span class="image-active"
                                  ng-class="{'disable': !image.imageUrl}" 
                                  ngclipboard data-clipboard-text="{{image.imageUrl}}">
                                <i class="ti-clipboard"></i>
                            </span>
                        </td>
                    </tr>
                </table>
                <div ng-show="self.imgUrl" class="image-holder" ng-click="self.getFocus($event)" ng-keydown="self.keyDown($event);" tabindex="0">
                    <img class="img-responsive" ng-src="{{self.imgUrl?(self.baseUrl + self.imgUrl):undefined}}">
                </div>
            </div>
        </div>
    </div>
</div>
